apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello
  labels:
    app: hello
    team: SRE
spec:
  selector:
    matchLabels:
      app: hello
  replicas: 2
  template:
    metadata:
      labels:
        app: hello
        team: SRE
    spec:
      volumes:
        - name: shared-files
          emptyDir: {} 
      containers:      
        - image: hello:latest
          name: php-fpm
          volumeMounts:
            - name: shared-files
              mountPath: /var/www/html
          lifecycle:
            postStart:
              exec:
                command: 
                  - "/bin/sh"
                  - "-c"
                  - >
                    cp -pr /app/. /var/www/html &&
                    chmod -R 777 /var/www/html/storage
        - image: nginx-hello:latest
          name: nginx
          ports:
            - containerPort: 80
          volumeMounts:
            - name: shared-files
              mountPath: /var/www/html
          lifecycle:
            postStart: 
              exec:
                command: 
                  - "/bin/sh"
                  - "-c"
                  - >
                   
                   nginx -s reload
---
apiVersion: v1
kind: Service
metadata:
  name: hello
  labels:
    app: hello
    team: SRE
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30000
    name: http    
  selector:
    app: hello